<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="total" th:value="${total}"/>
            <div class="table" th:fragment="customer-table" id="customer-table">
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="organization-result" th:each="item : ${accounts}">
                        <td><span th:text="${item.getId()}"></span></td>
                        <td><span th:text="${item.getBalance()}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h3>Add new account to this client</h3>

    <div class="row">
        <div class="col-sm-12">
            <!--/*@thymesVar id="customer" type="com.support.test.model.Customer"*/-->
            <form action="#"
                  th:action="@{/{path}/account(path=${customerId})} " class="form-horizontal"
                  role="form" th:object="${newAccount}" method="post">
                <div class="form-group">
                    <label class="col-md-2 col-form-label">Start balance</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" th:field="*{balance}"
                               th:errorclass="has-error" required="required"/>
                        <!--it's for validation feature which says to user that smth has error-->
                        <p class="error-form-field" th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}">Error</p>
                    </div>
                </div>
                <button type="submit" class="btn">Save</button>
            </form>

        </div>
    </div>

</body>
</html>