<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
<h1>Hello brother</h1>
<nav class="nav nav-pills nav-fill">
    <!--<a class="nav-item nav-link" href="/transactions">Transactions</a>-->
    <a class="nav-item nav-link" href="/home">Home page</a>
</nav>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="total" th:value="${total}"/>
        <div class="table" th:fragment="result-table" id="result-table">
            <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>From account (id)</th>
                    <th>To account (id)</th>
                    <th>Amount</th>
                </tr>
            </thead>
                <tbody>
                    <tr class="organization-result" th:each="item : ${transactionsList}">
                        <td><span th:text="${item.getId()}"></span></td>
                        <td><span th:text="${item.getDate()}"></span></td>
                        <td><span th:text="${item.getAccountFrom().getId()}"></span></td>
                        <td><span th:text="${item.getAccountTo().getId()}"></span></td>
                        <td><span th:text="${item.getAmount()}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>